

<mat-card *ngFor="let doctor of doctors" appearance="outlined">
    <mat-card-content>
      <div class="container">
        <img [src]="doctor.image" alt="doctor">
      </div>
      <div class="container">
        <h1>{{ doctor.name }}</h1>
        <p>{{ doctor.title }}</p>
        <p class="description" *ngFor="let desc of doctor.description">
          {{ desc }}
        </p>
        <button mat-fab extended color="primary" (click)="navigateToAppointmentScheduling(doctor)">
            <mat-icon>calendar_month</mat-icon>
            Időpontfoglalás
        </button>

      </div>
    </mat-card-content>
  </mat-card>