
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu
      [sidenav]="sidenav"
      [isLoggedIn]="isLoggedIn"
      [userRole]="userRole"
      (logoutEvent)="logout()">
    </app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button 
        mat-button 
        (click)="onToggleSidenav(sidenav)"
        class="menu-toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
      <div><img class="logo" src="logo.PNG" alt="Logo"></div>
      <nav>
        <ul>
          <li><a routerLink="/pages/home">Kezdőlap</a></li>
          <li><a routerLink="/pages/doctors">Orvosaink</a></li>
          <li><a routerLink="/pages/useful-information">Információk</a></li>
          
          @if (isLoggedIn) {
            <li *ngIf="userRole === 'user'"><a routerLink="/pages/measurement">Mérések</a></li>
            <li><a routerLink="/pages/profil"></a></li>  
            <li *ngIf="userRole === 'user'">
              <a routerLink="/pages/profil">Profil</a>
            </li>
            <li *ngIf="userRole === 'doctor'">
              <a routerLink="/pages/doctor">Orvosi felület</a>
            </li>
            
          }
          
          @if (!isLoggedIn) {
            <li><a routerLink="/pages/login">Bejelentkezés</a></li>
          }
          
          @if (isLoggedIn) {
            <li><a href="#" (click)="$event.preventDefault(); logout()">Kijelentkezés</a></li>
          }

          <li class="right-side">
            <button mat-mini-fab aria-label="Example icon button with a menu icon" (click)="changeTheme()">
                <mat-icon>{{ iconType }}</mat-icon>
            </button>
          </li>
        </ul>
      </nav>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>