
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body {
  height: 100%;
  margin: 0;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

body.dark-mode mat-sidenav-content {
  background-color: #121212 !important;
}

body.dark-mode mat-sidenav {
  background-color: #202020;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  
}